/* CSS declarations go here */


/* Date Tag */
.dateposted {
  width: 60px;
  background: #fff;
  height: 60px;
  display: block;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  border-bottom-left-radius: .25em;
  border-bottom-right-radius: .25em;
}

.month, .day {
  display: block;
  text-align: center;
}

.month {
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
  background: #18bc9c;
  line-height: 1;
  padding: 3px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.day {
  font-weight: bold;
  font-size: 24px;
  padding-top: 2px;
}



h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}
/* Custom Layout for the page */
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Note */
.note {
  font-size: 10px;
  color: #ccc;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.social-icon {
  padding-left: 10px;
  padding-right: 10px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

/* Sponsor Logos */
.sponsor-logo {
  height: auto;
  width: 275px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Event Logo */
.event-logo {
  height: auto;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* Free Button */
.btn-free {
  float: right;
  padding: 5px;
}

/* Event Padding for Well */
.well-event {
  padding-right: 10px;
  padding-top: 10px;
}

/* Custom Logo Size */
.top-logo {
  height: 75px;
  width: auto;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid rgb(87, 110, 191);
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/* End Custom Template Stuff */
